body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#div-inside-span {
    display: flex;
    flex-direction: column;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;

    /*TODO: check dimensions of tool tip*/
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the hovering filter panel */
    position: absolute;
    z-index: 1;
    bottom: -20%;
    left: 110%;

    /* Fade in tooltip */
    opacity: 0;
    transition: visibility 2s, opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#side-bar {
    display: flex;
    width: 5%;
    flex-direction: column;
    gap: 5rem;
    text-align: center;

    background-color: #ededed;

    /* TODO: adjust min height */
    min-height: 600px;
}

#vis-new-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 95%;
    background-color: #F6F6F6;
}

.visBox {
    width: 48%;
    height: 48%;

    background-color: #ededed;
}

#bottom {
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    gap: 0.8rem;
}

#main {
    display: flex;
    flex-direction: column;
}

#vis {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    padding: 0.8rem;
    gap: 0.8rem;
}

#vis-container {
    background-color: #ededed;
    width: 70%;
    padding: 0.5rem;

    /* TODO: adjust min height */
    min-height: 600px;
}

#vis-controls {
    background-color: #ededed;
    padding: 0.5rem;
    width: 30%;
}

#nav-bar {
    display: flex;
    padding: 0.2rem;
    background-color: #184e77;
    width: 100%;
}


/*Holds nav bar stuffs*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    float: left;
    display: block;
    color: #F6F6F6;
    text-align: center;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.25s linear;
}

/* Change the link color on hover over */
li:hover {
    color: #9e9e9e;
    cursor: wait;
}

#left-column {
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#right-column {
    background-color: #f4f4f4;
    padding: 0rem 2rem;
    min-height: 100vh;
}

h5 {
    color: #2c8cff;
    font-weight: 300;
}

#intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

.graph_card {
    background-color: white;
    border-radius: 0.675rem;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

.graph_card h6 {
    margin: 0 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
}

.filter-global {
    flex-grow: 3;
}

.filter-title-global {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: row;
}

.filter-title {
    color: #fff;
}

#table-wrapper {
    display: flex;
    flex-direction: column;
}


/*map stuff*/
#map-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map-control-panel {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    align-items: center;
    position: relative;

}

#map-range-slider {
    /*flex-grow: 3;*/
    width: 100%;
}

#map-options {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
    /*flex-grow: 2;*/
    width: 25%;
    align-items: center;
}

#map-info-panel {
    /*flex-grow: 1;*/
    width: 12%;
}

#map-info {
    font-size: 10px;
}


#map-hidden-panel {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #d4d4d4;
    position: absolute;
    top: 100%;
    left: 35%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;

    transition: visibility 2s, opacity 0.3s;
}

.button-wrapper {
   display: flex;
    align-items: center;
    gap: 0.5rem;
}
.button-wrapper img {
    vertical-align: middle;
    display: inline-block;
}

.drop-down-label {
    display: flex;
    flex-direction: row;
}

#map-tool-tip {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: beige;
    position: absolute;
    top: 89%;
    left: 20%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;

    transition: visibility 2s, opacity 0.3s;
}

#map-ok-button {
    position: relative;
}

#map-ok-button:hover + div {
    visibility: visible;
    opacity: 1;
}

#loading-wrapper {
    width: 10%;
    height: 100%;
}

.drop-icon {
    height: 100%;
    width: 100%;
    margin-top: -8px;
}

.aux-pages {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    padding: 2.5rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 3rem;
    justify-content: space-around;
}

#about-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.about-image {
    height: 300px;
    width: 300px;
}

#about-card p {
    text-align: justify;
    text-overflow: clip;
    width: 300px;
}

#help-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
}

#help-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#help-card p {
    text-align: justify;
    text-overflow: clip;
    width: 300px;
}

